<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
       
      <!-- 请求注解 -->
     <mvc:annotation-driven>
		 <!--使用fastjson序列化数据-->
		 <mvc:message-converters register-defaults="true">
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
					</list>
				</property>
				<!--采取规则序列化规则-->
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>WriteNullListAsEmpty</value>
						<value>WriteMapNullValue</value>
					</list>
				</property>
			</bean>
		 </mvc:message-converters>
		 
	 </mvc:annotation-driven>


	<!-- 拦截器（登录） -->
	<!--<bean name="handlerInterceptor1" class="com.jcms.interceptor.LoginInterceptor"/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<ref bean="handlerInterceptor1"/>
		</mvc:interceptor>
	</mvc:interceptors>-->
     
     <!-- controller注解 -->
     <context:component-scan base-package="com.jcms.*">
     	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
     </context:component-scan>
     
	<!-- 静态资源配置 -->
	<mvc:resources location="/resources/" mapping="/resources/**"/>

	<!-- 视图层配置 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!--上传文件控制-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>

</beans>