<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcms.mapper.hotel.HotelEntityMapper" >
  <resultMap id="BaseResultMap" type="com.jcms.pojo.entity.hotel.HotelEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="hotel_level" property="hotelLevel" jdbcType="INTEGER" />
    <result column="hotel_type" property="hotelType" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="lowest_price" property="lowestPrice" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jcms.pojo.entity.hotel.HotelEntity" >
    insert into hotel (id, hotel_name, hotel_level, 
      hotel_type, address, remark, 
      lowest_price)
    values (#{id,jdbcType=BIGINT}, #{hotelName,jdbcType=VARCHAR}, #{hotelLevel,jdbcType=INTEGER}, 
      #{hotelType,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{lowestPrice,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jcms.pojo.entity.hotel.HotelEntity" >
    update hotel
    set hotel_name = #{hotelName,jdbcType=VARCHAR},
      hotel_level = #{hotelLevel,jdbcType=INTEGER},
      hotel_type = #{hotelType,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      lowest_price = #{lowestPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, hotel_name, hotel_level, hotel_type, address, remark, lowest_price
    from hotel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="java.lang.String" resultType="com.jcms.pojo.dto.HotelDto" useCache="false" >
    select h.id, hotel_name hotelName, hotel_level hotelLevel, hotel_type hotelType,
    address, remark, lowest_price lowestPrice,PIC_URL picPath
    from hotel h LEFT JOIN sys_file ON h.id=join_id AND  type='hotel'
    <where>
      <if test="hotelName !=null and hotelName!='' ">
        hotel_name LIKE CONCAT('%',#{hotelName},'%')
      </if>
      <if test="level !=null">
        and hotel_level = #{level}
      </if>
      <if test="type !=null and type!='' ">
        and hotel_type =#{type}
      </if>
      <if test="upPrice !=null and upPrice!='' ">
        and lowest_price &gt;= #{upPrice}
      </if>
      <if test="dowPrice !=null and dowPrice!='' ">
        and lowest_price &lt;=#{dowPrice}
      </if>
    </where>
    ORDER BY hotel_level DESC
  </select>
    <select id="getHotelFile" resultType="string" parameterType="Long">
      select PIC_URL path FROM  sys_file where JOIN_ID=#{hotelId} and TYPE='hotel_info'
      ORDER BY CREAT_TIME
    </select>
</mapper>