<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcms.mapper.hotel.UserRoomEntityMapper" >
  <resultMap id="BaseResultMap" type="com.jcms.pojo.entity.hotel.UserRoomEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="room_id" property="roomId" jdbcType="BIGINT" />
    <result column="numbers" property="numbers" jdbcType="INTEGER" />
    <result column="stay_in_time" property="stayInTime" jdbcType="TIMESTAMP" />
    <result column="days" property="days" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jcms.pojo.entity.hotel.UserRoomEntity" >
    insert into user_room (id, user_id, hotel_id, 
      room_id, numbers, stay_in_time, 
      days)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, 
      #{roomId,jdbcType=BIGINT}, #{numbers,jdbcType=INTEGER}, #{stayInTime,jdbcType=TIMESTAMP}, 
      #{days,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jcms.pojo.entity.hotel.UserRoomEntity" >
    update user_room
    set user_id = #{userId,jdbcType=BIGINT},
      hotel_id = #{hotelId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      numbers = #{numbers,jdbcType=INTEGER},
      stay_in_time = #{stayInTime,jdbcType=TIMESTAMP},
      days = #{days,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, user_id, hotel_id, room_id, numbers, stay_in_time, days
    from user_room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, hotel_id, room_id, numbers, stay_in_time, days
    from user_room
  </select>
</mapper>